
  .sectionr1 {
    background: #eee;
    padding-right: 500px;
  }
  
  .sectionr2 {
    background: #c1c1c1;
    padding-right: 700px;
  }
  
  .sectionr3 {
    background: #eee;
    overflow: hidden;
  }
  
  .section-headingr {
    font-size: 70px;
    padding-right: 1000px
  }
  
  .boxeees_holder {
    height: 300px;
    display: inline-flex;
    gap: 30px;
  }
  
  .boxeees_holder .boxee {
    width: 200px;
    height: 100%;
    background: #ff0000;
  }